<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLkyaxtAfJlBvghlgCyFSn8cMaI3eeA4A</string>
	<key>GCM_SENDER_ID</key>
	<string>422358596647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moanbm123.ecommerce_app</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-32fc3</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-32fc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422358596647:ios:b2accc2f415825eb50a202</string>
</dict>
</plist>